fastapi
uvicorn
sqlalchemy
pg8000
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
yfinance
pandas
python-multipart
python-dotenv
requests
cryptography
scikit-learn
xgboost
transformers
torch
feedparser
beautifulsoup4
numpy
joblib
email-validator

